# Movies - PCA

In [8]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [9]:
df = pd.read_parquet("../data/movies-clean.parquet.gzip")
df.head()

,RATING,VOTES,RunTime,TYPE,Year_From,Year_To,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Biography,...,Director_Àlex Pastor,Director_Álex de la Iglesia,Director_Álvaro Brechner,Director_Álvaro Fernández Armero,Director_Álvaro Longoria,Director_Ángel Gómez Hernández,Director_Ángeles Reiné,Director_Åke Sandgren,Director_Óscar Pedraza,Director_Ömer Ugur
0,6.1,21062,121.0,Movie,2021,2021,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,17870,25.0,Series,2021,2021,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,8.2,885805,44.0,Series,2010,2022,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.2,414849,23.0,Series,2013,2013,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
5,7.6,25858,50.0,Series,2020,2020,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
selected_col = [col for col in df if col.startswith('Genre_')]
selected_col

['Genre_Action',
 'Genre_Adventure',
 'Genre_Animation',
 'Genre_Biography',
 'Genre_Comedy',
 'Genre_Crime',
 'Genre_Documentary',
 'Genre_Drama',
 'Genre_Family',
 'Genre_Fantasy',
 'Genre_Film-Noir',
 'Genre_Game-Show',
 'Genre_History',
 'Genre_Horror',
 'Genre_Music',
 'Genre_Musical',
 'Genre_Mystery',
 'Genre_News',
 'Genre_Reality-TV',
 'Genre_Romance',
 'Genre_Sci-Fi',
 'Genre_Short',
 'Genre_Sport',
 'Genre_Talk-Show',
 'Genre_Thriller',
 'Genre_War',
 'Genre_Western']

In [29]:
df_filtered = df[selected_col]
print(df_filtered.shape)
df_filtered.head()

(8168, 27)

,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Biography,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,Genre_Family,Genre_Fantasy,...,Genre_News,Genre_Reality-TV,Genre_Romance,Genre_Sci-Fi,Genre_Short,Genre_Sport,Genre_Talk-Show,Genre_Thriller,Genre_War,Genre_Western
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
pca = PCA(n_components=7)
pca_data = pca.fit_transform(df_filtered)

df_pca_data = pd.DataFrame(data=pca_data,
             columns=list(range(pca.n_components_)))

df_pca_data.head()

          0         1         2         3         4         5         6
0  0.364104 -0.367400  0.297778  0.178764  0.948093  0.909793 -0.170961
1  1.382541 -0.603162 -0.145444 -0.098258 -0.017053 -0.132876  0.054730
2 -0.649869 -0.385001 -0.019560 -0.263664  0.860102  0.283353 -0.382301
3  0.977654  0.456953 -0.534476  0.068763  0.049979 -0.665941 -0.132000
4 -0.265231 -0.926325 -0.108526  0.626798 -0.474437  0.343964  0.078637

In [31]:
pca.explained_variance_ratio_

array([0.20110827, 0.15798846, 0.12125164, 0.07614154, 0.05671005,
       0.05092706, 0.0434411 ])

In [32]:
np.sum(pca.explained_variance_ratio_)

0.7075681285185927